*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
    font-family: 'Open Sans',sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    max-width: 800px;
    margin:auto;
}
/*header*/

.header{
    padding: 40px;
}
.logo{
    text-align: center;
    margin-bottom:40px;
}.logo p{
    color: #9B9B9B;
}
.form{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
}
.barra-busqueda{
    width: 70%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    padding:0 20px;
    border-radius: 100px;
    border:none;
    text-align: center;
    font-size:16px;
}
.categorias{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.categorias a{
    color:#9B9B9B;
    margin: 10px 20px;
    font-size:16px;
    font-weight:700;
}
.categorias a.activo{
    color:#000;
}

/* grid*/
.grid{
    position: relative;
    width: 100%;
    opacity: 0;
    transition:opacity 1s linear  1s;
}
.grid.imagenes-cargadas{
    opacity: 1;
}
.item{
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width:calc(33.3% - 20px);
}
.item-contenido{
    position: relative;
}
.item img{
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}
img{
    border-radius:10px;
}
/*item:hover{
    transform: scale(3);
}*/
/*Overlay*/
.overlay{
    position:fixed; 
    top: 0;bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overlay.activo{
    display:flex;
}
.overlay img{
    max-width: 100%;
}
.overlay .descripcion{
display: block;
background-color:#fff;
padding: 10px 30px;
text-align: center;
margin: top 5px;
border-radius:10px;
max-width:50%;
}
.container-img{
    position: relative;
}
#btn-cerrar-popup{
    background: none;
    border: none;
    color: #fff;
    font-size:15px;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -15px;

}